body {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,109,121,1) 14%, rgba(0,212,255,1) 100%);
}

.menu-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background: #A8C7BB;
     align-items: center;
    margin: 10px;
    width: 28%;
    min-height: 500px;
    border-radius: 15px;
    padding: 20px;
}
.recipe-img{
    border-radius: 50%;
    width: 90%;
}

.ingredient-list {
    text-align: left;
width: 50%;
}
.foods-list {
    display:flex;
    flex-flow: row wrap;
    width:95%;
    margin: 0 auto;
}

.read-more-btn{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background: rgb(24, 189, 24);
    border-radius: 5px;
    margin-top:5px;
    &:hover {
        color:black;
        opacity: 0.7;
    }
}

.ingredients-btn{
    background: rgb(46, 60, 141);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    &:hover{
        color:black;
        opacity: 0.7;
    background-color: rgb(46, 60, 141);
    cursor: pointer;
    }
}
  .clicked{
      opacity: .9;
      color: black;
  }
  .search-form{
      margin-bottom: 30px;
  }
.search-input{
    border:none;
   color:white;
  border-radius: 5px;
  padding: 10px;
  width:300px;
  margin-right: 5px;
  background-color: black;
  outline: none;
}
.search-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    &:hover{
        opacity: 0.9;
        cursor: pointer;
    }
}